<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Product Page</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;

    }

    h1 {
      color: #333;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: #007bff;
    }

    a:hover {
      text-decoration: underline;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 12px;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
      text-transform: uppercase;
    }

    td.actions a {
      display: inline-block;
      margin-right: 10px;
      color: #007bff;
    }

    td.actions a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>

 <h1 style="margin-top: 20px;">Product List</h1>
  <!-- Display products as a table -->
  <table>
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Name</th>
        <th>Retail Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.barcode}}</td>
          <td>{{this.productName}}</td>
          <td>${{this.retailPrice}}</td>
          <td>{{this.category.categoryName}}</td>
          <td class="actions">
            <a href="/product-detail/{{this._id}}" title="Detail">Details</a>

          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
