<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    #container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 8px;
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      margin: 6px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #af4c86;
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 40%;
      align-self: flex-end;
    }

    button:hover {
      background-color: #883369;
    }
  </style>
</head>

<body>
  <div id="container">
    <h1>Edit Product</h1>

    <form action="/admin/products/edit/{{product._id}}" method="POST">
      <label for="barcode">Barcode:</label>
      <input type="text" id="barcode" name="barcode" value="{{product.barcode}}" required>

      <label for="productName">Product Name:</label>
      <input type="text" id="productName" name="productName" value="{{product.productName}}" required>

      <label for="importPrice">Import Price:</label>
      <input type="number" id="importPrice" name="importPrice" value="{{product.importPrice}}" required>

      <label for="retailPrice">Retail Price:</label>
      <input type="number" id="retailPrice" name="retailPrice" value="{{product.retailPrice}}" required>

      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="{{product.category._id}}" selected>{{product.category.categoryName}}</option>

        {{#each categories }}
        <option value="{{this._id}}">
          {{this.categoryName}}
        </option>
        {{/each}}
      </select>

      <button type="submit">Save Changes</button>
    </form>
  </div>

</body>
<script>
  // JavaScript code to remove duplicate options based on values
  document.addEventListener('DOMContentLoaded', function () {
    var categorySelect = document.getElementById('category');
    var existingValues = [];

    for (var i = 0; i < categorySelect.options.length; i++) {
      var option = categorySelect.options[i];
      if (existingValues.includes(option.value)) {
        // Remove duplicate option
        categorySelect.removeChild(option);
        i--; // Adjust index since the length of options has changed
      } else {
        existingValues.push(option.value);
      }
    }
  });
</script>
</html>